* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;

}
.login-box h1{
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}
::placeholder {
  color: blue;
}
.login-box {
  width: 320px;
  height: 420px;
  background: rgb(154, 77, 77);
  color: blueviolet;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.login-box input{
  width: 10%;
  margin-bottom: 20px;
}
.login-box input[type="text"],
.login-box input[type="Contraseña"] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: blueviolet;
  font-size: 16px;
}
.controls {
  width: 100%;
  background: #ea8775;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #536998;
  font-family: 'sans-serif';
  font-size: 18px;
}

.InputContainer{
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      border: 1px solid #DADCE0;
      border-radius: 7px;
      font-size: 16px;
      padding: 0 20px;
      outline: none;
      background: none;
      z-index: 1;
    
}
