.Topbar {
    height: 30px;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, red , yellow);
}

.Topbar #name {
    color: #bababa;
    width: 100%;
    -webkit-app-region: drag;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
}

.Topbar button {
    float: right;
    height: inherit;
    border: none;
    background-color: transparent;
    width: 40px;   
}