.top-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  background-color: rgb(223,28,188);
  align-items: center;
  width: 100%;
  box-shadow: 0px 8px 28px -6px rgb(24 39 75 / 12%);
}

.top-bar.blur {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-shadow: 0px 8px 28px -6px rgb(24 39 75 / 12%);
  }
  
  .top-bar.blur.blur {
    background-color: #b014a1f0;
  }
  
  .top-bar .title {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    flex: 1;
    -webkit-app-region: drag;
    background-color: transparent;
  }
  
  .top-bar button {
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 4px;
    height: 32px;
    padding: 4px;
    width: 32px;
    color: transparent
  }
  
  .top-bar button.minimize {
    background-image: url(./minimize.png);
  }
  
  .top-bar button.maximized {
    background-image: url(./maximize.png);
  }
  
  .top-bar button.restored {
    background-image: url(./restore.png);
  }
  
  .top-bar button.close {
    background-image: url(./close.png);
  }
  