.top-bar.blur {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-shadow: 0px 8px 28px -6px rgb(24 39 75 / 12%);
  }
  
  .top-bar.blur.blur {
    background-color: #ffffff17;
  }
  
  .top-bar.blur .title {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    flex: 1;
    -webkit-app-region: drag;
  }
  
  .top-bar.blur button {
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 4px;
    height: 32px;
    padding: 4px;
    width: 32px;
    color: transparent
  }
  
  .top-bar.blur button.minimize {
    background-image: url(./minimize.png);
  }
  
  .top-bar.blur button.maximized {
    background-image: url(./maximize.png);
  }
  
  .top-bar.blur button.restored {
    background-image: url(./restore.png);
  }
  
  .top-bar.blur button.close {
    background-image: url(./close.png);
  }
  