*{
   margin: auto;
   list-style: none;
   text-decoration: none;
   color: rgb(0, 0, 0); 
   font-family: 'Fontdiner Swanky', cursive;
   user-select: none;
}
.mensaje{
   display: none;
}
.mensaje.error{
   display: block;
}

.login {
   height: calc(100% - 30px);
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-content: center;
   align-items: center;
   margin: auto;
   margin-top: 10%;
   

}

.login-form {
   margin-top: 7%;
   display: flex;
   flex-direction: column;
   background-color: rgb(231, 186, 213);
   box-shadow: -3px -3px 80px 12px rgba(232,159,230,1);
   -webkit-box-shadow: -3px -3px 80px 12px rgba(232,159,230,1);
   -moz-box-shadow: -3px -3px 80px 12px rgba(232,159,230,1);
}

#title{
   text-shadow: -4px -1px 25px rgba(232,159,230,1);
   color: rgb(244, 114, 216);
}
.form-component{
   margin-top: 4%;
}
#form-last{
   margin-bottom: 4%;
}